# Bài thực hành 3: Series và Data Frame

## Assignment 1: Series

In [5]:
import numpy as np
import pandas as pd

# Sửa thành np.random.randint
a = np.random.randint(1, 10, 35)

# Tạo Series
ser1 = pd.Series(a)

# In Series
print(ser1)

# Cho biết kích thước (shape) của ser1
print("Kích thước của ser1: ", ser1.shape)

# In 5 dòng dữ liệu đầu tiên
print("5 dòng dữ liệu đầu tiên:")
print(ser1.head())

# In 5 dòng dữ liệu cuối cùng
print("5 dòng dữ liệu cuối cùng:")
print(ser1.tail())

0     3
1     4
2     9
3     6
4     9
5     8
6     2
7     2
8     5
9     8
10    8
11    8
12    4
13    8
14    7
15    8
16    5
17    9
18    5
19    4
20    9
21    7
22    5
23    9
24    9
25    1
26    7
27    5
28    5
29    5
30    8
31    8
32    7
33    4
34    1
dtype: int32
Kích thước của ser1:  (35,)
5 dòng dữ liệu đầu tiên:
0    3
1    4
2    9
3    6
4    9
dtype: int32
5 dòng dữ liệu cuối cùng:
30    8
31    8
32    7
33    4
34    1
dtype: int32

In [6]:
# Câu 1.2: In danh sách các giá trị của series ser1 
print(ser1.values)

[3 4 9 6 9 8 2 2 5 8 8 8 4 8 7 8 5 9 5 4 9 7 5 9 9 1 7 5 5 5 8 8 7 4 1]

In [7]:
# Câu 1.3: Cho biết thông tin thống kê chung của Series ser1
print(ser1.describe())

count    35.000000
mean      6.057143
std       2.448804
min       1.000000
25%       4.500000
50%       7.000000
75%       8.000000
max       9.000000
dtype: float64

In [8]:
# Câu 1.4: Cho biết phần tử có tần suất xuất hiện nhiều nhất trong Series ser1
print(ser1.mode())

0    8
dtype: int32

In [9]:
# Câu 1.5:  Liệt kê các giá trị vừa chia hết cho 3 ở Series ser 1 
gt = ser1[ser1 % 3 == 0]

# In kết quả
print("Các giá trị vừa chia hết cho 3 trong ser1:")
print(gt)

Các giá trị vừa chia hết cho 3 trong ser1:
0     3
2     9
3     6
4     9
17    9
20    9
23    9
24    9
dtype: int32

## Assignment 2: Pandas

Câu 2.1: Cho bảng dữ liệu như sau:
<img src="data.png" width="200px">

In [1]:
# Trả lời câu 2.1:
# Tạo DataFrame với tên df theo bảng dữ liệu ở câu 1 bằng cách dựa vào Dictionary và list labels.

# Cho list labels như sau:
import pandas as pd
data = {
    "name": ["Anastasia", "Dima", "Katherine", "James", "Emily", "Michael"],
    "score": [6.0, 9.0, 7.0, 10.0, 6.0, 4.0],
    "attempts": [1, 3, 2, 3, 2, 3],
    "qualify": ["yes", "no", "yes", "no", "no", "yes"]
}
labels = ["name", "score", "attempts", "qualify"]
df = pd.DataFrame(data, columns=labels,index=['a','b','c','d','e','f'])
print (df)

        name  score  attempts qualify
a  Anastasia    6.0         1     yes
b       Dima    9.0         3      no
c  Katherine    7.0         2     yes
d      James   10.0         3      no
e      Emily    6.0         2      no
f    Michael    4.0         3     yes

In [2]:
# Xem kiểu dữ liệu của tất cả thuộc tính ở dataframe df
print("Kiểu dữ liệu của tất cả thuộc tính:")
print(df.dtypes)

Kiểu dữ liệu của tất cả thuộc tính:
name         object
score       float64
attempts      int64
qualify      object
dtype: object

In [10]:

# Tạo DataFrame df1 từ df chỉ với các cột "Name" và "Score"
df1 = df[['name', 'score']]

# Xem kiểu dữ liệu của df1
print("Kiểu dữ liệu của df1:")
print(df1.dtypes)

# Xem kích thước của df1
print("Kích thước của df1:", df1.shape)

# Hiển thị các dòng dữ liệu đầu tiên của df1
print("Các dòng dữ liệu đầu tiên của df1:")
print(df1.head())

Kiểu dữ liệu của df1:
name      object
score    float64
dtype: object
Kích thước của df1: (6, 2)
Các dòng dữ liệu đầu tiên của df1:
        name  score
a  Anastasia    6.0
b       Dima    9.0
c  Katherine    7.0
d      James   10.0
e      Emily    6.0

In [11]:
# Câu 2.3: Hiển thị thông tin thống kê chung của tất cả các thuộc tính của dataframe df
print("Thông tin thống kê chung của dataframe df:")
print(df.describe())

Thông tin thống kê chung của dataframe df:
          score  attempts
count   6.00000  6.000000
mean    7.00000  2.333333
std     2.19089  0.816497
min     4.00000  1.000000
25%     6.00000  2.000000
50%     6.50000  2.500000
75%     8.50000  3.000000
max    10.00000  3.000000

In [13]:
# Câu 2.4: Tạo dataframe df2 từ df, chỉ chứa 2 cột là name và score, và chỉ có các dòng 1, 3, 5

# Tạo DataFrame df2 từ df chỉ với các cột "Name" và "Score" và các dòng 1, 3, 5
df2 = df.iloc[[1, 3, 5], [0, 1]]

# In nội dung của DataFrame df2
print("Nội dung của dataframe df2:")
print(df2)

Nội dung của dataframe df2:
      name  score
b     Dima    9.0
d    James   10.0
f  Michael    4.0

In [16]:
# Câu 2.5: Từ dataframe df, in các dòng có dữ liệu score bị null

print(df.empty)

False

In [19]:
# Câu 2.6: Từ dataframe df, in các dòng có score > 5 và <=9
# In các dòng có score > 5 và <= 9
filter = df[(df['score'] > 5) & (df['score'] <= 9)]

# In kết quả
print("Các dòng có score > 5 và <= 9:")
print(filter)

Các dòng có score > 5 và <= 9:
        name  score  attempts qualify
a  Anastasia    6.0         1     yes
b       Dima    9.0         3      no
c  Katherine    7.0         2     yes
e      Emily    6.0         2      no

In [20]:
# Câu 2.7: Cập nhật điểm (score) ở Dataframe df ở dòng 'e' thành 9
# Cập nhật điểm ở dòng 'e' thành 9
df.loc['e', 'score'] = 9

# In DataFrame sau khi cập nhật
print("DataFrame sau khi cập nhật:")
print(df)

DataFrame sau khi cập nhật:
        name  score  attempts qualify
a  Anastasia    6.0         1     yes
b       Dima    9.0         3      no
c  Katherine    7.0         2     yes
d      James   10.0         3      no
e      Emily    9.0         2      no
f    Michael    4.0         3     yes

In [22]:
# Câu 2.8: Cho biết điểm (score) nào có tần suất xuất hiện nhiều nhất trong df, và in ra những dòng có điểm là tần suất xuất hiện nhiều nhất
# Xác định điểm có tần suất xuất hiện nhiều nhất
most_frequent_score = df['score'].mode().iloc[0]

# In ra những dòng có điểm là tần suất xuất hiện nhiều nhất
rows_with_most_frequent_score = df[df['score'] == most_frequent_score]

# In kết quả
print("Điểm có tần suất xuất hiện nhiều nhất là:", most_frequent_score)
print("Những dòng có điểm là tần suất xuất hiện nhiều nhất:")
print(rows_with_most_frequent_score)

Điểm có tần suất xuất hiện nhiều nhất là: 9.0
Những dòng có điểm là tần suất xuất hiện nhiều nhất:
    name  score  attempts qualify
b   Dima    9.0         3      no
e  Emily    9.0         2      no

In [23]:
# Câu 2.9: Thêm dòng l có nội dung như sau: ['Janny', 4, 2, 'yes'] vào df. 

# Hiển thị 5 dòng cuối cùng (tail) của df2.
# Thêm dòng mới vào DataFrame df
df.loc['l'] = ['Janny', 4, 2, 'Yes']

# Hiển thị 5 dòng cuối cùng của df
print("5 dòng cuối cùng của df sau khi thêm:")
print(df.tail())

5 dòng cuối cùng của df sau khi thêm:
        name  score  attempts qualify
c  Katherine    7.0         2     yes
d      James   10.0         3      no
e      Emily    9.0         2      no
f    Michael    4.0         3     yes
l      Janny    4.0         2     Yes

In [24]:
# Câu 2.10: Sắp xếp df tăng dần theo điểm (score)
# Sắp xếp df tăng dần theo điểm (score)
df_sorted = df.sort_values(by='score')

# In kết quả
print("DataFrame sau khi sắp xếp tăng dần theo điểm:")
print(df_sorted)

DataFrame sau khi sắp xếp tăng dần theo điểm:
        name  score  attempts qualify
f    Michael    4.0         3     yes
l      Janny    4.0         2     Yes
a  Anastasia    6.0         1     yes
c  Katherine    7.0         2     yes
b       Dima    9.0         3      no
e      Emily    9.0         2      no
d      James   10.0         3      no

In [26]:
# Câu 2.11: Dựa vào dữ liệu của cột'score' của df,thêm cột results với giá trị như sau: nếu SV có điểm >=5 thì "Đạt" và 
# nếu SV có điểm <5 thì "Không đạt"

# In nội dung của dataframe df

# Thêm cột "results" dựa vào điểm (score)
df['results'] = df['core'].apply(lambda x: 'Đạt' if x >= 5 else 'Không đạt')

# In nội dung của DataFrame df sau khi thêm cột "results"
print("DataFrame sau khi thêm cột 'results':")
print(df)

DataFrame sau khi thêm cột 'results':
        name  score  attempts qualify    results
a  Anastasia    6.0         1     yes        Đạt
b       Dima    9.0         3      no        Đạt
c  Katherine    7.0         2     yes        Đạt
d      James   10.0         3      no        Đạt
e      Emily    9.0         2      no        Đạt
f    Michael    4.0         3     yes  Không đạt
l      Janny    4.0         2     Yes  Không đạt